﻿* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: robold;
    src: url(../fonts/RO-SansWebText-Bold.woff);
}

@font-face {
    font-family: roreg;
    src: url(../fonts/RO-SansWebText-Regular.woff);
}

body {
    background-color: #E5E5E5;
    height: 800px;
}

#header {
    background-color: #113454;
    width: 100%;
    height: 200px;
    text-align: center;
}

#title {
    border-bottom: 1px solid #294965;
    color: white;
    width: 700px;
    margin: 0 auto;
    text-align: left;
    font-family: roreg;
    padding: 15px 0 5px 15px;
}

    #title span {
        font-size: 13px;
    }

        #title span span {
            cursor: pointer;
        }

#logo {
    height: 70%;
    margin: 10px 0 0 0;
    z-index: 200;
}

#content {
    background-color: #FFFFFF;
    width: 700px;
    min-height: 620px;
    margin: -40px auto;
    z-index: 500;
    position: relative;
    padding: 90px 70px 40px 70px;
    box-sizing: border-box;
    font-family: roreg;
}

.bold {
    font-family: robold;
}

#digid {
    height: 80%;
}

h3 {
    font-family: roreg;
    font-weight: normal;
    margin: 0 0 15px 0;
}

#login {
    float: right;
    width: 375px;
    font-size: 13px;
}

    #login div {
        background-color: #F5F5F5;
        margin: 0 0 5px 0;
        padding: 5px 10px;
    }

    #login h4 {
        margin: 0 0 10px 0;
    }

    #login .input-field {
        border: 1px solid black;
        width: 275px;
        height: 23px;
    }

.warning {
    background-color: #FDF6BB !important;
    font-size: 12px;
    padding: 8px 8px 10px 30px !important;
}

.radio-text {
    font-size: 12px;
    line-height: 12px;
    margin: 0 0 0 10px;
}

button {
    cursor: pointer;
}

#login-btn {
    background-color: #DEEBE3;
    border: 1px solid black;
    font-family: robold;
    padding: 5px 10px;
    margin: 5px 10px 20px 10px;
}

#cancel-btn {
    border: 1px solid white;
    background-color: white;
    color: #154273;
    text-decoration: underline;
    font-size: 11px;
    margin: 10px 20px;
}

.right {
    float: right;
}

#login a {
    color: #154273;
    font-size: 11px;
}

.green {
    background-color: #275937 !important;
}

.light-green {
    border-bottom: 1px solid #3D6A4B !important;
}

.medium-height {
    min-height: 470px !important;
    padding: 40px 30px 20px 30px !important;
}

.variable-height {
    min-height: 0px !important;
    padding: 40px 30px !important;
}

#civ-detail div, #civilian div {
    background-color: #F5F5F5;
    padding: 15px 10px;
    margin: 0 0 20px 0;
}

    #civ-detail div h2, #civilian div h2 {
        font-family: robold;
        font-size: 20px;
    }

    #civilian div p {
        font-size: 13px;
    }

#item-table .header {
    background-color: rgba(0, 0, 0, 0);
    font-size: 10px;
    border-bottom: 0px;
    cursor: default;
}

#item-table {
    margin: 10px 0 0 0;
    border-collapse: collapse;
    font-size: 12px;
}

#item-table tr {
    background-color: #FFFFFF;
    border-bottom: 5px solid #F5F5F5;
    cursor: pointer;
}

    #cases #item-table td {
        padding: 10px 24px !important;
    }

    #item-table td {
        padding: 10px;
        min-width: 106px;
    }

    #item-table .highlight {
        font-family: robold;
        color: #01689B;
        cursor: pointer;
    }

    #storage-list {
        float: left;
        width: 380px;
    }

    #action-list {
        float: right;
        width: 200px;
    }
            #civilian #action-list div {
                background: #FFFFFF;
                padding: 5px 10px;
                margin: 10px 0 0 0;
            }

    #faq-list {
        float: left;
        width: 620px;
    }

    #civilian #faq-list p {
        font-size: 14px;
        padding: 4px 4px;
        cursor: pointer;
    }

        #civilian #faq-list p span {
            color: #71A0CA;
            font-family: robold;
            margin: 0 10px 0 0;
        }

#content #cases {
    background-color: #F5F5F5;
    width: 650px;
    position: relative;
    box-sizing: border-box;
    padding: 10px 15px;
}

    #content #cases input {
        position: absolute;
        right: 20px; 
        top: 15px;
        float: right;
        border: 1px solid #01689B;
        padding: 4px 10px;
        font-size: 12px;
        width: 180px;
    }

    #content #cases img {
        position: absolute; 
        right: 29px;
        top: 21px;
        height: 12px;
        cursor: pointer;
    }

#civ-detail p {
    font-size: 13px;
}

#civ-detail .list {
    font-size: 13px;
    background-color: white;
    padding: 10px 25px;
    color: #999999;
    position: relative;
    margin: 15px 0 0 0 !important;
}

    #civ-detail .list li {
        margin: 0 0 10px 0;
        list-style-image: url('../img/circle-grey-small.png');
    }

    #civ-detail .list .ul-line {
        position: absolute;
        left: 14px;
        top: 21px;
        height: 190px;
        width: 2px;
        background-color: #999999;
    }

    #civ-detail .list .active {
        color: #39870C !important;
        list-style-image: url('../img/circle-green-small.png');
    }

.header-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    margin: 20px 0 0 0;
}

    .header-table img {
        height: 55px;
        margin: 6px 12px 6px 0;
    }

    .header-table .header {
        background-color: #CCCCCC !important;
        border: 0px !important;
        font-family: robold;
        font-size: 14px;
    }

        .header-table .header td {
            padding: 10px 0 10px 14px;
        }

    .header-table tr {
        background-color: white;
        border-bottom: 2px solid #F5F5F5;
    }

    .header-table .title {
        padding: 10px 0 10px 14px;
        width: 160px;
    }

#civ-detail #faq-list img {
    height: 320px;
    margin: 20px 0 0 0;
}

#content.low-padding {
    padding: 40px 30px 20px 30px !important;
    min-height: 900px;
}

#civ-detail #faq-list .right {
    width: 180px;
    padding: 0px;
}

#civ-detail #faq-list .right .bold {
    margin: 15px 0 0 20px;
    font-size: 12px;
    padding: 0 0 5px 0;
}

    #civ-detail #faq-list .right div {
         background-color: white;
         position: relative;
         padding: 15px 10px 15px 40px;
         margin: 0;
    }

        #civ-detail #faq-list .right div .bold {
            margin: 5px 0 0 0;
        }

        #civ-detail #faq-list .right div .circle {
            width: 16px;
            height: 16px;
            border-radius: 8px;
            background-color: #3D1F5D;
            color: white;
            font-family: robold;
            position: absolute;
            top: 20px;
            left: 10px;
            text-align: center;
            font-size: 13px;
        }